<!DOCTYPE html>
<meta charset="utf-8">

<html>
<head>
	<title>NLP</title>
    <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
</head>

<style>
body {
  font-family: 'Vollkorn', serif;
  font-size: 40px;

  color : black;
  text-align: center;
  background-image: url("https://www.google.co.in/url?sa=i&source=images&cd=&ved=2ahUKEwiljbujiMbkAhWTXCsKHabxBh4QjRx6BAgBEAQ&url=https%3A%2F%2Fslidemodel.com%2Ftemplates%2Fduotone-powerpoint-gradients-designs%2F&psig=AOvVaw3spdeeZF3g2fep88uWi3tT&ust=1568198354167527")
    
    }



.button1{
	padding: 10px;


}

</style>

<body>

<div id="formdivision">
	<p>Enter the message for prediction!</p>
	<form action="/predict" method="post">
	Message:<br>
	  <input type="text" name="message" style="width: 600px;">
	<br>

	<button type="submit" style="font:25px" class = "button1">
	  Predict
	</button>
</form>


</div>




</body>
</html>